<h5>检查数据</h5>

<div class="row double-margin-top">
    <div class="col s12">
        <h6 class="bold-font col s6 offset-s2">糖尿病检查</h6>
        <hr class="col s12">
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            空腹血糖 ： <span ng-bind="userExamine.GDM.fasting"></span>mmo/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            OTGG2H ： <span ng-bind="userExamine.GDM.OTGG2h"></span>mmo/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            糖化血红蛋白（HBA1c）： <span ng-bind="userExamine.GDM.HBA1c"></span>mmo/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            胰岛素 ： <span ng-bind="userExamine.GDM.INS"></span>mmo/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            C肽 ： <span ng-bind="userExamine.GDM.CP"></span>mmo/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
</div>

<div class="row double-margin-top">
    <div class="col s12">
        <h6 class="bold-font col s6 offset-s2">血糖检查</h6>
        <hr class="col s12">
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            总胆固醇 ： <span ng-bind="userExamine.BG.CH"></span>mmo/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            高密度脂蛋白胆固醇 ： <span ng-bind="userExamine.BG.HDICH"></span>mmo/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            甘油三酯 ： <span ng-bind="userExamine.BG.TC"></span>mmo/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            低密度脂蛋白胆固醇 ： <span ng-bind="userExamine.BG.LDICH"></span>mmo/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
</div>

<div class="row double-margin-top">
    <div class="col s12">
        <h6 class="bold-font col s6 offset-s2">肝功能检查</h6>
        <hr class="col s12">
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            谷丙转氨酶 ： <span ng-bind="userExamine.GPT.GPT"></span>U/L
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 double-margin-top">
        <div class="col s6 offset-s3">
            <a class="btn waves-effect waves-light blue offset-s6 right">确认修改</a>
        </div>
    </div>
</div>