<h5>健康信息</h5>
<div class="row double-margin-top">
    <div class="col s12">
        <div class="col s5 offset-s3">
            身高 ： 160cm
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            体重 ： 47kg
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            BMI值 ： 20.1kg/m2
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            症状 ： 多饮 多食
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            已有并发症 ： 多饮 多食
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            劳动强度 ： 多饮 多食
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            用药情况 ： 多饮 多食
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 double-margin-top">
        <div class="col s6 offset-s3">
            <a class="btn waves-effect waves-light blue offset-s6 right">确认修改</a>
        </div>
    </div>
</div>