<h5>健康信息</h5>
<div class="row double-margin-top">
    <div class="col s12">
        <div class="col s5 offset-s3">
            身高 ： <span ng-bind="userHealth.tops"></span>cm
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            体重 ： <span ng-bind="userHealth.weight"></span>kg
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            BMI值 ： <span ng-bind="userHealth.BMI"></span>kg/m2
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            症状 ： <span ng-bind="userHealth.symptoms"></span>
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            已有并发症 ： <span ng-bind="userHealth.chronic"></span>
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            劳动强度 ： <span ng-bind="userHealth.labourIntensive"></span>
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 margin-top">
        <div class="col s5 offset-s3">
            用药情况 ： <span ng-bind="userHealth.medication"></span>
        </div>
        <div class="col s1">
            <a href="">修改</a>
        </div>
    </div>
    <div class="col s12 double-margin-top">
        <div class="col s6 offset-s3">
            <a class="btn waves-effect waves-light blue offset-s6 right">确认修改</a>
        </div>
    </div>
</div>