<div class="row top-nav">
    <h5 class="path col s12">
        <a class="blue-text back" href="/weixin/articles">
            <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <span>文章详情</span>
        <a class="right blue-text" href="/weixin/articles/{{article.id}}/edit">
            <i class="mdi-editor-mode-edit"></i> 编辑
        </a>
    </h5>
</div>
<hr class="path-line">
<article>
    <h4 ng-bind="article.title"></h4>
    <h6>
        <span ng-bind="article.author"></span> 
        <span ng-bind="article.update_time | date: 'yy-mm-dd'"></span> 
        <span ng-bind="article.tags"></span>
    </h6>
    <div class="double-margin-top" ng-bind-html="article.content"></div>
</article>