<div class="container">
    <div class="margin-top">
        <table >
            <tbody >
            <tr ng-repeat=" icons in iconList" class="">
                <td style="">
                <img ng-src="{{icons.ImgSrc}}" style="height:135px;width:125px">
                </td>
                <td>
                    <h5 class="">{{icons.explain}}</h5>
                </td>
                <td>

                </td>
                <td style="font-size: 20px">
                    <span >{{icons.preName}}</span>
                </td>
                <td style="font-size: 25px">
                    <a >{{icons.numOne}}</a>
                </td>
                <td style="font-size: 20px">
                    <span >{{icons.postName}}</span>
                </td>
                <td style="font-size: 25px">
                    <a >{{icons.numTwo}}</a>
                </td>
            </tr>
            </tbody>
        </table>
       </div>
</div>