<div class="row top-nav">
    <h5 class="path col m5 s12">
        公告修改
    </h5>

</div>
<hr class="path-line">
<h5 class="double-margin-top">标题</h5>
<div input-field>
    <input id="name" type="text" style="margin:0" length="20" placeholder="请输入标题" value="{{}}"required>
    <label for="name"></label>
</div>

<div class="double-margin-top">
    <h5>正文</h5>
    <textarea class="n_textarea" placeholder="请输入公告内容" style="resize: none"></textarea>
    <a href="" class="btn  waves-light waves-effect blue margin-top" ng-click="">发布</a>
</div>