<div class="row top-nav">
    <h5 class="path col m5 s12">
        公告管理
    </h5>

</div>
<hr class="path-line">
<h5 class="double-margin-top">标题</h5>
<div input-field>
    <input id="name" type="text" style="margin:0" length="20" placeholder="请输入标题"ng-model="publishNtc.title" required>
    <label for="name"></label>
</div>

<div class="double-margin-top">
    <h5>正文</h5>
    <textarea class="n_textarea" placeholder="请输入公告内容" style="resize: none"ng-model="publishNtc.content"></textarea>
    <a href="" class="btn  waves-light waves-effect blue margin-top" ng-click="publishNotice()">发布</a>
</div>
<div class=" double-margin-top">
    <h5 class="path">公告列表</h5>
    <hr>
    <form action="">
        <table class="centered bordered">
            <thead class="dark-grey-text">
            <tr>
                <th class="choose-row">
                    <input type="checkbox" class="filled-in" id="topic-top" ng-model="master"
                           ng-click="all(master,notice)">
                    <label for="topic-top" id="chose_all"></label>
                </th>
                <th>发布日期</th>
                <th>标题</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="notice  in noticeList">
                <td class="checkbox-td">
                    <input class="filled-in" type="checkbox" id="{{notice.id}}"
                           ng-model="x" ng-checked="master" ng-click="chk(notice,x)">
                    <label for="{{notice.id}}" class=""></label>
                </td>
                <td ng-bind="notice.created | date: 'yyyy-MM-dd HH:mm:ss'"></td>
                <td clss="center" ng-bind="notice.title"></td>
                <td class="center small-text">
                    <section>
                        <a ui-sref="editNotice({id: notice.id})">修改</a> |
                        <a ng-click="deleteNotice()">删除</a> |
                        <a ng-click="topNotice()">置顶</a>
                    </section></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="double-margin-bottom margin-top">
        <button class="btn col wechat_btn waves-light waves-effect blue">删除</button>
        <pagination
                page="1"
                page-size="10"
                total="200"
                show-prev-next="false"
                dots="...."
                hide-if-empty="false"
                adjacent="2"
                scroll-top="false"
                pagination-action="changePage(page)"
                class="center "></pagination>
    </div>

</div>
