<div class="row top-nav">
    <h5 class="path col m5 s12">
        发表话题
    </h5>

</div>
<hr class="path-line">
<div class="double-margin-top">
    <div input-field>
        <input id="name" type="text" style="margin:0" ng-model="publishItem.title" length="20" required>
        <label for="name">请输入文章标题</label>
    </div>
    <div class="double-margin-top">
        <h5 class="path">内容</h5>
        <hr>
        <textarea class="publish_textarea" style="resize: none" ng-model="publishItem.content"></textarea>
    </div>
</div>
<div>
    <div class=""  >
        <a class="btn blue wave right " style="height: 42px" >发布</a>
    </div>
    <div class="file-field " style="height:42px">
        <a class="btn blue wave">图片</a>
        <input type="file" style="width: 96px"ng-model="publishItem.img">
    </div>
    <img ng-src="{{publishItem.img}}">
</div>

