<div class="row top-nav">
    <h5 class="path col m5 s12">
        回复管理
    </h5>
    <div class="col m6 s11 center search-box">
        <input type="text" placeholder="">
        <button class="btn waves-effect blue waves-light">搜索</button>
    </div>
</div>
<hr class="path-line">
<div>
    <div>
        <table class="bordered">
            <thead class="dark-grey-text">
            <tr>
                <th class="choose-row">
                    <input type="checkbox" class="filled-in" id="topic-top" ng-model="master"
                           ng-click="all(master,replies)">
                    <label for="topic-top" id="chose_all"></label>
                </th>
                <th style="padding-left: 20px">回复列表</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reply in replies">
                <td style="position:absolute;margin-top: 25px;margin-left: 5px">
                    <input type="checkbox" id="{{reply.id}}" class="filled-in"
                           ng-model="x" ng-checked="master" ng-click="chk(reply,x)">
                    <label for="{{reply.id}}"></label>
                </td>
                <td style="padding:0;">
                    <ul class="collection margin-bottom" style="border: 0">
                        <li class="collection-item avatar" style="padding-bottom: 0">
                            <a ng-href="users/{{reply.user.id}}/usertopic"><img ng-src="{{reply.user.headImg}}" class="circle"></a>
                            <a ng-href="users/{{reply.user.id}}/usertopic"
                               class="title topic-name black-text" ng-bind="topic.user.name"></a>
                            <div ng-bind="reply.created | date: 'yyyy-MM-dd HH:mm:ss'"
                                 class="topic-time dark-grey-text"></div>
                            <p ng-bind="reply.content" class="topic-content dark-grey-text"
                               style="padding: 5px 0"></p>
                            <div ng-if="reply.imgs" class="topic-img">
                                <img ng-src={{reply.imgs}} class="materialboxed responsive-img"
                                     materialboxed>
                            </div>

                            </p>
                            <a class="secondary-content">
                                <span ng-click="topicDelete()" class="dark-grey-text">删除</span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="double-margin-bottom margin-top">
        <button class="btn col wechat_btn waves-light waves-effect blue" ng-click="delete()">批量删除</button>
    </div>
</div>