<div>
    <div class="topic-list">
        <h5>话题列表</h5>
        <div class="topic-search">
            <form action="">
                <input value="" name="hl" type="hidden">
                <input placeholder="请输入名字/栏目/摘要/" value="" autocomplete="off" name="q">
                <button class="z-depth-1"><i class="mdi-action-search white-text"></i></button>
            </form>
        </div>


        <div>
            <table class="bordered">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="topic-top"/>
                        <label for="topic-top"></label>
                    </th>
                    <th></th>
                </tr>
                </thead>

                <tbody class="hoverable">
                <tr ng-repeat="personInfo in peopleInfo">
                    <td style="position: absolute;padding-top: 38px">
                        <input type="checkbox" id={{personInfo.id}}/>
                        <label for={{personInfo.id}}></label>
                    </td>
                    <td>
                        <ul class="collection" style="border: 0">
                            <li class="collection-item avatar">
                                <img ng-src={{personInfo.imgSrc}} alt="" class="circle">
                                <span class="title topic-name" ng-bind="personInfo.name"></span>
                                <p>
                                    <span ng-bind="personInfo.time" class="topic-time"></span>
                                <h6 ng-bind="personInfo.title" class="topic-title"></h6>
                                <p ng-bind="personInfo.content" class="topic-content"></p>
                                <div>
                                    <img ng-src={{personInfo.contentImg}} class="materialboxed responsive-img">
                                </div>

                                </p>
                                <div style="margin-top: 30px;margin-bottom: 10px">
                                    <i class="mdi-action-visibility topic-icon-color"
                                       ng-bind="personInfo.numberOfReader"></i>
                                    &nbsp;
                                    <i class="mdi-action-thumb-up topic-icon-color"
                                       ng-bind="personInfo.numberOfLike"></i>
                                    &nbsp;
                                    <i class="mdi-communication-chat topic-icon-color"
                                       ng-bind="personInfo.numberOfComment"></i>
                                </div>
                                <a class="secondary-content">
                                    <span>评论</span>
                                    <span>清理</span>
                                    <span>置顶</span>
                                    <span>锁定</span>
                                    <span>删除</span>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="margin: 20px 0;" class="row">
            <a class="waves-effect waves-light btn red col topic-btn">删除</a>
            <a class="waves-effect waves-light btn red col topic-btn right">前一页</a>
            <a class="waves-effect waves-light btn red col topic-btn right">后一页</a>
            <pagination
                    page="1"
                    page-size="10"
                    total="100"
                    show-prev-next="false"
                    dots="...."
                    hide-if-empty="false"
                    adjacent="1"
                    scroll-top="false"
                    pagination-action="changePage(page)"
                    class="col offset-l3 offset-m2"
            >

        </div>
    </div>
</div>