<div class="row">
    <h5 class="path col m5 s12">
        话题管理
    </h5>
    <div class="col m6 s11 center search-box">
        <input type="text" placeholder="">
        <button class="btn waves-effect blue waves-light">搜索</button>
    </div>
</div>
<hr class="path-line">
<div>
    <div>
        <div class="col s12 topic-choose-all margin-top" style="background: #f1f1f1;" >
            <input type="checkbox" class="filled-in" id="topic-top" ng-model="master"
                   ng-click="all(master,peopleInfo)">
            <label for="topic-top" id="chose_all"></label>
        </div>

        <table class="bordered">
            <thead>
            <tr>
                <th style="padding: 0;width: 20px"></th>
                <th style="padding: 0"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="personInfo in peopleInfo">
                <td style="position:absolute;margin-top: 25px;">
                    <input type="checkbox" id="{{personInfo.id}}" class="filled-in"
                           ng-model="x" ng-checked="master" ng-click="chk(personInfo,x)">
                    <label for="{{personInfo.id}}"></label>
                </td>
                <td style="padding:0;">
                    <ul class="collection" style="border: 0;margin-bottom: 0">
                        <li class="collection-item avatar" style="padding-bottom: 0">
                            <img ng-src="{{personInfo.imgSrc}}" alt="" class="circle">
                            <span class="title topic-name" ng-bind="personInfo.name"></span>
                                <span ng-bind="personInfo.time" class="topic-time"></span>
                            <h6 ng-bind="personInfo.title" class="topic-title"></h6>
                            <p ng-bind="personInfo.content" class="topic-content" style="padding: 5px 0"></p>
                            <div class="topic-img">
                                <img ng-src={{personInfo.contentImg}} class="materialboxed responsive-img" materialboxed
                                     ng-show="personInfo.contentImg">
                            </div>

                            </p>
                            <div>
                                <i class="mdi-action-visibility topic-icon-color"
                                   ng-bind="personInfo.numberOfReader"></i>
                                &nbsp;
                                <i class="mdi-action-thumb-up topic-icon-color"
                                   ng-bind="personInfo.numberOfLike"></i>
                                &nbsp;
                                <i class="mdi-communication-chat topic-icon-color"
                                   ng-bind="personInfo.numberOfComment"></i>
                            </div>
                            <a class="secondary-content">
                                <span>评论</span>
                                <span>清理</span>
                                <span>置顶</span>
                                <span>锁定</span>
                                <span>删除</span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="margin-bottom margin-top">
        <button class="topic-del-btn btn col wechat_btn waves-light waves-effect blue" ng-click="delete()">删除</button>
        <div class="change-page"></div>
    </div>
</div>