<div class="row top-nav">
    <h5 class="path col m5 s12">
        话题管理
    </h5>
    <div class="col m6 s11 center search-box">
        <input type="text" placeholder="">
        <button class="btn waves-effect blue waves-light">搜索</button>
    </div>
</div>
<hr class="path-line">
<div>
    <div>
        <table class="bordered">
            <thead class="dark-grey-text">
            <tr>
                <th class="choose-row">
                    <input type="checkbox" class="filled-in" id="topic-top" ng-model="master"
                           ng-click="all(master,topics)">
                    <label for="topic-top" id="chose_all"></label>
                </th>
                <th style="padding-left: 20px">话题列表</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="topic in topics.content">
                <td style="position:absolute;margin-top: 25px;margin-left: 5px">
                    <input type="checkbox" id="{{topic.id}}" class="filled-in"
                           ng-model="x" ng-checked="master" ng-click="chk(topic,x)">
                    <label for="{{topic.id}}"></label>
                </td>
                <td style="padding:0;">
                    <ul class="collection margin-bottom" style="border: 0">
                        <li class="collection-item avatar" style="padding-bottom: 0">
                            <a ng-href="users/{{topic.user.id}}/usertopic"><img ng-src="{{topic.user.headImg}}"
                                                                                class="circle"></a>
                            <a ng-href="users/{{topic.user.id}}/usertopic"
                               class="title topic-name black-text" ng-bind="topic.user.name"></a>
                            <span ng-click="isLocked()" tooltipped data-position="bottom" data-delay="0"
                                  data-tooltip="已锁定" ng-show="this.topic.state.locked"
                                  class="mdi-action-lock-outline orange-text margin-left"
                                  style="cursor: pointer"></span>
                            <span ng-click="totop()" tooltipped data-position="bottom" data-delay="0"
                                  data-tooltip="已置顶" ng-show="this.topic.state.istop"
                                  class="mdi-editor-vertical-align-top orange-text margin-left"
                                  style="cursor: pointer"></span>
                            <div ng-bind="topic.created | date: 'yyyy-MM-dd HH:mm:ss'"
                                 class="topic-time dark-grey-text"></div>
                            <h6 ng-bind="topic.title" class="topic-title margin-top"></h6>
                            <p ng-bind="topic.content" class="topic-content dark-grey-text"
                               style="padding: 5px 0"></p>
                            <div ng-if="topic.imgs" class="topic-img">
                                <img ng-src={{topic.imgs}} class="materialboxed responsive-img"
                                     materialboxed>
                            </div>

                            </p>
                            <div class="margin-top">
                                <i class="mdi-action-visibility dark-grey-text"></i>
                                <span ng-bind="topic.view"></span>
                                &nbsp;
                                <i class="mdi-action-thumb-up dark-grey-text"></i>
                                <span ng-bind="topic.like"></span>
                                &nbsp;
                                <i class="mdi-communication-chat dark-grey-text"></i>
                                <span ng-bind="topic.reply"></span>
                            </div>
                            <span class="secondary-content">
                                <a ng-href="/forum/topic/{{topic.id}}/replies" class="dark-grey-text">评论 | </a>
                                <span ng-click="clearTopic()" class="dark-grey-text cursor-pointer">清理 | </span>
                                <span ng-click="toTop()" class="dark-grey-text cursor-pointer"
                                      ng-show="!this.topic.state.istop">置顶 | </span>
                                <span ng-click="toTop()" class="dark-grey-text cursor-pointer"
                                      ng-show="this.topic.state.istop">取消置顶 | </span>
                                <span ng-click="isLocked()" class="dark-grey-text cursor-pointer"
                                      ng-show="!this.topic.state.locked">锁定 | </span>
                                <span ng-click="isLocked()" class="dark-grey-text cursor-pointer"
                                      ng-show="this.topic.state.locked">解锁 | </span>
                                <span ng-click="topicDelete()" class="dark-grey-text cursor-pointer">删除</span>
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="double-margin-bottom margin-top">
        <button class="btn col wechat_btn waves-light waves-effect blue" ng-click="delete()">批量删除</button>
        <div class="double-margin-bottom margin-top">
            <pagination
                    page="page"
                    page-size="topics.count"
                    total="topics.total"
                    show-prev-next="false"
                    dots="...."
                    hide-if-empty="false"
                    adjacent="2"
                    scroll-top="false"
                    pagination-action="changePage(page)"
                    class="center"></pagination>
        </div>
    </div>
</div>