<!--list.html用户列表-->
<div class="row" style="font-size: 15px;line-height: 25px">
    <div class="col s12  wechat_title">用户列表</div>
    <div class="col s12">
        <div class="col s11 wechat_zero input-field wechat_search">
            <input class="wechat_zero" id="search" type="text">
        </div>
        <div class="wechat_zero">
            <button class="btn col s1 waves-light waves-effect orange" style="height: 45px;">搜索</button>
        </div>
    </div>
</div>

<div>
    <table class="centered bordered">
        <thead class="grey-text">
        <tr>
            <th>
                <input type="checkbox" class="filled-in" id="all">
                <label for="all">全选</label>
            </th>
            <th>用户</th>
            <th>积分</th>
            <th>等级</th>
            <th>发表</th>
            <th>回复</th>
            <th>功能</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="user in userList">
            <td>
                <input type="checkbox" class="filled-in" id="checkbox{{$index}}">
                <label for="checkbox{{$index}}"></label>
            </td>
            <td>
                <img ng-src="{{user.headImgUrl}}" alt="" class="circle list_table_img left">
                <p ng-bind="user.name"></p>
            </td>
            <td><a ng-href="user/score/{{user.id}}" ng-bind="user.score"></a></td>
            <td ng-bind="user.level"></td>
            <td ng-bind="user.comments"></td>
            <td ng-bind="user.replies"></td>
            <td>
                <a class="wechat_a">拉黑</a>|
                <a class="wechat_a">设为管理员</a>|
                <a class="wechat_a">对话</a>|
                <a class="wechat_a">详情</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div style="margin: 5px">
    <button class="btn col wechat_btn waves-light waves-effect orange">拉黑</button>
    <button class="btn col wechat_btn right waves-light waves-effect orange">上一页</button>
    <button class="btn col wechat_btn right waves-light waves-effect orange">下一页</button>
</div>

