<div class="row top-nav">
    <h5 class="path col m5 s12">
        论坛用户
    </h5>
    <div class="col m6 s11 center search-box">
        <input type="text" placeholder="请输入名字/积分/等级/发表/回复">
        <button class="btn waves-effect blue waves-light">搜索</button>
    </div>
</div>
<hr class="path-line">

<div class="users">
    <table class="centered bordered">
        <thead class="grey-text">
        <tr>
            <th class="choose-row">
                <input type="checkbox" class="filled-in" id="all">
                <label for="all"></label>
            </th>
            <th>用户</th>
            <th>积分</th>
            <th>等级</th>
            <th>发表</th>
            <th>回复</th>
            <th class="forum-user-operation-row">功能</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="user in users.content" ng-show="user.role === 1">
            <td>
                <input type="checkbox" class="filled-in" id="checkbox{{$index}}">
                <label class="table-checkbox" for="checkbox{{$index}}"></label>
            </td>
            <td class="user-info">
                <a ng-href="users/detail/{{user.id}}/health" class="user-info">
                    <img ng-src="{{user.headImg}}" alt="" class="circle list_table_img">
                    <span ng-bind="user.name"></span>
                </a>
            </td>
            <td><a ng-href="users/score/{{user.id}}" ng-bind="user.points"></a></td>
            <td ng-bind="user.level"></td>
            <td ng-bind="user.topics"></td>
            <td ng-bind="user.replies"></td>
            <td>
                <section>
                    <a class="wechat_a" ng-click="moveToBlacklist()">拉黑</a> |
                    <a class="wechat_a" ng-click="setAsAdmin()">设为管理员</a> |
                    <a class="wechat_a">对话</a> |
                    <a class="wechat_a">详情</a>
                </section>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="double-margin-bottom margin-top">
    <button class="btn col wechat_btn waves-light waves-effect blue">批量拉黑</button>
    <div class="double-margin-bottom margin-top">
        <pagination
                page="1"
                page-size="10"
                total="200"
                show-prev-next="false"
                dots="...."
                hide-if-empty="false"
                adjacent="2"
                scroll-top="false"
                pagination-action="changePage(page)"
                class="center "></pagination>
    </div>
</div>

