<div class="row">
    <h5 class="path col m5 s12">
        <a ui-sref="wechatUsers">用户列表</a>
        > 用户详情
    </h5>
    <div class="col m6 s11 center search-box">
        <input type="text">
        <button class="btn waves-effect blue waves-light">搜索</button>
    </div>
</div>
<hr class="path-line">
<table class="centered">
    <thead class="detail-thead">
    <tr class="detail-tr">
        <th>名字</th>
        <th>性别</th>
        <th>发表话题数</th>
        <th>回复数</th>
        <th>积分</th>
        <th>最新血糖</th>
    </tr>
    </thead>
    <tbody>
    <tr class="detail-tr">
        <td ng-bind="user.name"></td>
        <td ng-bind="user.sex"></td>
        <td ng-bind="user.comments"></td>
        <td ng-bind="user.replies"></td>
        <td>
            <a ng-href="users/score/{{user.id}}" ng-bind="user.score"></a>
        </td>
        <td ng-bind="user.BG"></td>
    </tr>
    </tbody>
</table>
<hr>