<div class="row">
    <h5 class="path col m5 s12">
        <a ui-sref="wechatUsers">用户列表</a>
        > 用户详情
    </h5>
    <div class="col m6 s11 center search-box">
        <input type="text">
        <button class="btn waves-effect blue waves-light">搜索</button>
    </div>
</div>
<hr class="path-line">
<table class="centered">
    <thead class="detail-thead">
    <tr class="detail-tr">
        <th>名字</th>
        <th>性别</th>
        <th>发表话题数</th>
        <th>回复数</th>
        <th>积分</th>
        <th>最新血糖</th>
    </tr>
    </thead>
    <tbody>
    <tr class="detail-tr">
        <td ng-bind="user.name"></td>
        <td ng-bind="user.sex"></td>
        <td ng-bind="user.comments"></td>
        <td ng-bind="user.replies"></td>
        <td>
            <a ng-href="users/score/{{user.id}}" ng-bind="user.score"></a>
        </td>
        <td ng-bind="user.BG"></td>
    </tr>
    </tbody>
</table>
<hr class="margin-bottom">
<div class="row">
    <div class="col s3 detail-item detail-border center">
        <a ui-sref="userDetail.health">
            <img src="/img/health.png">
            <p class="black-text">健康信息</p>
        </a>
    </div>
    <div class="col s3 detail-item detail-border center">
        <a ui-sref="userDetail.check">
            <img src="/img/check.png">
            <p class="black-text">检查数据</p>
        </a>
    </div>
    <div class="col s3 detail-item detail-border center">
        <a ui-sref="userDetail.scheme">
            <img src="/img/scheme.png">
            <p class="black-text">控糖方案</p>
        </a>
    </div>
    <div class="col s3 detail-item center">
        <a ui-sref="userDetail.dialogue">
            <img src="/img/dialogue.png">
            <p class="black-text">控糖日志</p>
        </a>
    </div>
</div>
<hr class="double-margin-top">
<div class="double-margin-top margin-bottom" ui-view=""></div>