<div class="row">
    <h5 class="path col m5 s12">用户列表</h5>
    <div class="col m6 s11 center search-box">
        <input type="text">
        <button class="btn waves-effect">搜索</button>
    </div>
</div>
<hr class="path-line">
<div>
    <table class="centered bordered">
        <thead class="grey-text">
        <tr>
            <th class="choose-all">
                <input type="checkbox" class="filled-in" 
                    id="all" ng-click="chose_all()">
                <label for="all"></label>
            </th>
            <th>头像</th>
            <th>名字</th>
            <th>手机号码</th>
            <th>类型</th>
            <th>最新血糖</th>
            <th>积分</th>
            <th>功能</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="user in userList">
            <td>
                <input type="checkbox" class="filled-in" 
                    id="checkbox{{$index}}" 
                    ng-model="checkbox">
                <label class="table-checkbox" 
                    for="checkbox{{$index}}">
                </label>
            </td>
            <td>
                <img  ng-src="{{user.headImgUrl}}" 
                    alt="" class="circle list_table_img">
            </td>
            <td ng-bind="user.name"></td>
            <td ng-bind="user.phone"></td>
            <td ng-bind="user.type"></td>
            <td ng-bind="user.BG"></td>
            <td>
                <a ng-href="users/score/{{user.id}}" 
                    ng-bind="user.score">
                </a>
            </td>
            <td>
                <a class="wechat_a">加入黑名单</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <button class="btn col wechat_btn waves-effect blue">拉黑</button>
    <button class="btn col wechat_btn right waves-effect blue">上一页</button>
    <button class="btn col wechat_btn right waves-effect blue">下一页</button>
</div>

