<div class="row top-nav">
    <h5 class="path col m5 s12">用户列表</h5>
    <div class="col m6 s11 center search-box">
        <input type="text" ng-model="search.content">
        <button class="btn waves-effect blue waves-light" ng-click="searchUsers()">搜索</button>
    </div>
</div>
<hr class="path-line">
<div class="users">
    <table class="centered bordered">
        <thead class="dark-grey-text">
        <tr>
            <th class="choose-row">
                <input type="checkbox" class="filled-in"
                       id="all" ng-click="chose_all()">
                <label for="all"></label>
            </th>
            <th>用户</th>
            <th>手机号码</th>
            <th>类型</th>
            <th>最新血糖</th>
            <th>积分</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="user in users.content" ng-show="user.role === 1">
            <td>
                <input
                    type="checkbox"
                    class="filled-in"
                    id="{{user.id}}"
                    ng-model="user.select"
                    ng-init="user.select = false">
                <label for="{{user.id}}"></label>
            </td>
            <td>
                <a ng-href="users/detail/{{user.id}}" class="user-info">
                    <img ng-src="{{user.headImg}}" alt="" class="circle list_table_img">
                    <span ng-bind="user.name"></span>
                </a>
            </td>
            <td ng-bind="user.phone"></td>
            <td ng-bind="user.BGtype"></td>
            <td>
                <a ng-bind="user.lastBG"  class="blue-text" ng-href="/users/{{user.id}}/BG"></a>
            </td>
            <td>
                <a class="blue-text" ng-href="users/{{user.id}}/score" ng-bind="user.points"></a>
            </td>
            <td>
                <a href="" ng-click="moveToBlacklist()">加入黑名单</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="double-margin-bottom margin-top">
    <button class="btn col wechat_btn waves-effect waves-light blue">拉黑</button>
    <div class="double-margin-bottom margin-top">
        <pagination
                ng-show="users.total > users.count"
                page="page"
                page-size="users.count"
                total="users.total"
                show-prev-next="false"
                dots="...."
                hide-if-empty="false"
                adjacent="2"
                scroll-top="false"
                pagination-action="changePage(page)"
                class="center "></pagination>
    </div>
</div>

