<!--ntegral management用户积分管理-->
<!--<div>-->
    <!--<p ng-bind="user.name"></p>-->
    <!--o;ihdsapido A-->
<!--</div>-->
<div class="row">
    <div class="col s12  wechat_title"><a ui-sref="wechatUsers">用户列表</a> > {{user.name}}的积分</div>
    <div class="col s12 user_score_allscore">积分总量：{{user.score}}</div>
    <div class="col s12" style="margin-top: 20px">
        <div class="col s11 wechat_zero input-field wechat_search">
            <input class="wechat_zero" id="search" type="text">
        </div>
        <div class="wechat_zero">
            <button class="btn col s1 waves-light waves-effect blue" style="height: 45px;">搜索</button>
        </div>
    </div>
</div>

<div>
    <table class="centered bordered">
        <thead class="grey-text grey lighten-4">
        <tr>
            <th>
                <input type="checkbox" class="filled-in" id="all">
                <label for="all"></label>
            </th>
            <th>时间</th>
            <th>变化</th>
            <th>原因</th>
            <th>功能</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="changeItem in user.changeItems">
            <td >
                <input type="checkbox" class="filled-in" id="checkbox{{$index}}">
                <label for="checkbox{{$index}}"></label>
            </td>
            <td ng-bind="changeItem.time"></td>
            <td ng-bind="changeItem.change"></td>
            <td ng-bind="changeItem.reason"></td>
            <td>
                <a class="wechat_a">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="margin-bottom margin-top">
    <button class="btn col wechat_btn waves-light waves-effect blue">删除</button>
    <button class="btn col wechat_btn right waves-light waves-effect blue">上一页</button>
    <button class="btn col wechat_btn right waves-light waves-effect blue">下一页</button>
</div>


