<div class="row top-nav">
    <h5 class="path col m5 s12">
        <a class="blue-text" ui-sref="wechatUsers">用户列表</a>
        > 积分详情
    </h5>
</div>

<div class="row top-nav">
    <h6 class="path col m4 s12">
        积分总量 : {{user.points}}
    </h6>
</div>
<hr class="path-line">


<div>
    <table class="centered bordered">
        <thead class="dark-grey-text">
        <tr>
            <th class="choose-row">
                <input type="checkbox" class="filled-in" id="score-top" ng-model="master"
                       ng-click="all(master,changeItem)">
                <label for="score-top"></label>
            </th>
            <th>时间</th>
            <th>变化</th>
            <th>原因</th>
            <th>功能</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="changeItem in changeItems.content">
            <td class="checkbox-td">
                <input type="checkbox" id="{{changeItem.id}}" class="filled-in"
                       ng-model="x" ng-checked="master" ng-click="chk(changeItem,x)">
                <label for="{{changeItem.id}}"></label>
            </td>
            <td ng-bind="changeItem.created| date: 'yyyy-MM-dd HH:mm:ss'"></td>
            <td ng-bind="changeItem.count"></td>
            <td ng-bind="changeItem.reason.message"></td>
            <td>
                <a>删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="double-margin-bottom margin-top">
    <button class="btn col wechat_btn waves-light waves-effect blue" ng-click="delete()">删除</button>
    <div class="double-margin-bottom margin-top">
        <pagination
                page="1"
                page-size="10"
                total="200"
                show-prev-next="true"
                dots="...."
                hide-if-empty="false"
                adjacent="2"
                scroll-top="false"
                pagination-action="changePage(page)"
                class="center"></pagination>
    </div>
</div>


