<div class="row top-nav">
    <h5 class="path col m5 s12">
        <a ui-sref="wechatUsers">用户列表</a>
        > 积分详情
    </h5>
    <div class="col m6 s11 center search-box">
        <input type="text">
        <button class="btn waves-effect blue waves-light">搜索</button>
    </div>
</div>
<hr class="path-line">


<div>
    <table class="centered bordered">
        <thead class="grey-text grey lighten-4">
        <tr>
            <th class="choose-row">
                <input type="checkbox" class="filled-in" id="all">
                <label for="all"></label>
            </th>
            <th>时间</th>
            <th>变化</th>
            <th>原因</th>
            <th>功能</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="changeItem in user.changeItems">
            <td >
                <input type="checkbox" class="filled-in" id="checkbox{{$index}}">
                <label for="checkbox{{$index}}"></label>
            </td>
            <td ng-bind="changeItem.time"></td>
            <td ng-bind="changeItem.change"></td>
            <td ng-bind="changeItem.reason"></td>
            <td>
                <a class="wechat_a">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="double-margin-bottom margin-top">
    <button class="btn col wechat_btn waves-light waves-effect blue">删除</button>
    <button class="btn col wechat_btn right waves-light waves-effect blue">上一页</button>
    <button class="btn col wechat_btn right waves-light waves-effect blue">下一页</button>
</div>


