<div class="row top-nav">
    <h5 class="path col m5 s12">
        <a class="blue-text" ui-sref="releaseOfGoods">
            商品列表
        </a>
        >
        商品详情
    </h5>
</div>
<hr class="path-line">
<div class="row good-info">
    <img ng-src="{{good.img}}" class="col s12 m4">
    <div class="col s12 m6">
        <h5 class="dark-grey-text">
            商品名称：
            <span class="blue-text" ng-bind="good.name"></span>
        </h5>
        <h5 class="dark-grey-text">
            用户等级：
            <span class="blue-text" ng-bind="good.cLevel"></span>
        </h5>
        <h5 class="dark-grey-text">
            商品数量：
            <span class="blue-text" ng-bind="good.count"></span>
        </h5>
        <h5 class="dark-grey-text">
            兑换积分：
            <span class="blue-text" ng-bind="good.cPoint"></span>
        </h5>
        <h5 class="dark-grey-text">
            商品价格：
            <span class="blue-text" ng-bind="good.price"></span>
        </h5>
        <h5 class="dark-grey-text">
            是否包邮：
            <span class="blue-text" ng-bind="good.postage"></span>
        </h5>
        <h5 class="dark-grey-text">
            兑换一件：
            <span class="blue-text" ng-bind="good.single"></span>
        </h5>
    </div>
    <p ng-bind-html="good.explain" class="col s12"></p>
</div>