<!--order订单管理-->
<div class="row">
    <h5 class="path col m5 s12">订单管理</h5>
    <div class="col m6 s11 center search-box">
        <input type="text">
        <button class="btn waves-effect blue waves-light">搜索</button>
    </div>
</div>
<hr class="path-line">

<table class="centered bordered">
    <thead class="grey-text">
    <tr>
        <th class="choose-all">
            <input type="checkbox" class="filled-in" id="all">
            <label for="all"></label>
        </th>
        <th>商品</th>
        <th>收货人</th>
        <th>实付金额</th>
    </tr>
    </thead>

    <tbody>
    <tr>

    </tr>
    </tbody>
</table>


