body {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}

html, body, .wrap {
    height: 100%;
}

body > .wrap {
    height: auto;
    min-height: 100%;
}

/*
    主色-蓝色  #54adff
    辅色-深灰色  #717171
    辅色-浅灰色  #e6e8ea
    特殊色-橘黄色  ff8d37
*/

.blue {
    background-color: #54adff !important;
}

.blue-text {
    color: #54adff !important;
}

.dark-grey {
    background-color: #717171 !important;
}

.light-grey {
    background-color: #e6e8ea !important;
}

.dark-grey-text {
    color: #717171 !important;
}

.light-grey-text {
    color: #e6e8ea !important;
}

.orange {
    background-color: #ff8d37 !important;
}

.orange-text {
    color: #ff8d37 !important;
}

.main {
    padding-bottom: 50px;
}

footer {
    position: relative;
    margin-top: -50px;
    height: 50px;
    font-size: 1.2rem;
    padding-top: 15px;
    clear: both;
}

hr {
    border-top: 1px solid #DDDDDD;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.page-title {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem !important;
    display: block;
}

.bold {
    padding: 0 !important;
    margin-right: 15px !important;
}

.bold > a {
    font-size: 14px;
}

.side-nav > li {
    text-align: center;
    height: 40px;
}

.side-nav > li > a {
    height: 40px;
    line-height: 40px;
}

.side-nav li:hover, .side-nav li.active {
    background-color: #54adff;
}

.side-nav > li:hover > a, .side-nav > li.active > a {
    color: #ffffff;
}

#sideBar {
    padding-top: 30px;
}

.navTitle {
    font-size: 20px;
    color: #a9b7b7;
    margin-left: 25px;
    line-height: 30px;
}

.navTitle > i {
    font-size: 30px;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80% !important;
    }

    #sideBar {
        margin-top: 64px;
    }

    #navBar {
        padding-left: 0;
    }
}

.page-footer {
    padding: 0 !important;
}

@media screen and (min-width: 601px) {
    #voteResult {
        padding: 20px 50px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 993px) {
    main, nav {
        padding-left: 240px;
    }

    footer {
        margin-left: 240px;
    }
}

@media screen and (max-width: 992px) {
    main, nav {
        padding-left: 0;
    }

    footer {
        margin-left: 0;
    }
}

@media only screen and (max-width: 601px) {
    .container {
        margin: 0 auto;
        max-width: 1280px;
        width: 95%;
    }
}

.card-content > p {
    padding: 5px;
}

.text-center {
    text-align: center;
}

.addLibraryBtn {
    margin-top: -50px;
}

.margin-left {
    margin-left: 15px !important;
}

.brand-logo {
    margin-bottom: 50px !important;
}

.wechat_a {
    padding-right: 3px !important;
    padding-left: 3px !important;
}

.wechat_main {
    position: relative;
    width: 100%;
    height: 100%;
}

.wechat_zero {
    margin: 0 !important;
    padding: 0 !important;
}

.wechat_chose {
    padding: 10px !important;
}

.wechat_chose_div {
    height: 25px;
    padding-left: 15px;
}

.wechat_btn {
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.wechat_tr {
    border-bottom: solid 1px #d4d4d4;
}

.wechat_color_blue{
    background-color: #01a8f4;
}

.wechat_title {
    line-height: 20px;
    font-size: 17px;
    margin: 10px;
    padding: 10px;
}

.wechat_search {
    border: solid 1px #d4d4d4;
    border-bottom: 0;
}

div[class~=wechat_num]:hover div{
    width: 100%;
    height: 100%;
    background-color: #01a8f4;
    opacity: 0.15;
    margin-top: -30px;
}
div[class~=wechat_num]:hover{
    border: 1px solid #5a6dff;
}
.wechat_num_n{
    margin-top: -35px;
    width: 50%;
    margin-left: 25%
}

.wechat_num{
    font-size: 8px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin: 2px;
    border: 1px solid #d4d4d4;
    text-align: center;
    z-index:10;
}

.topic-list .input-field {
    margin-top: 0;
}

.n_textarea {
    height: 250px;
}

.n_top {
    margin-top: 40px;
}

.screen_box {
    position: absolute;
    margin: -10px 0 0 -27px;
}

.n_tr {
    border-bottom: solid 1px #d4d4d4;
}

.list_table_img {
    width: 50px;
    height: 50px;
}

.user_score_allscore {

    font-size: 20px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
    margin-top: 10px;
}

