.row {
    margin-bottom: 0 !important;
}

.text-center {
    text-align: center;
}

.detail-tr > td, .detail-tr > th {
    padding: 30px !important;
}

.detail-thead {
    border: none;
}

.path {
    color: #717171
}

/*搜索框--start*/
.search-box {
    position: relative;
    padding: 0 !important;
    margin: 0.82rem 0.75rem 0.656rem 0.75rem !important;
}

.search-box input {
    border: 1px solid #9e9e9e !important;
    border-radius: 5px !important;
    margin: 0 !important;
    height: 30px !important;
    padding-left: 10px;
}

.search-box input:focus {
    border: 1px solid #9e9e9e !important;
    box-shadow: 0 0px 0 0 #26a69a !important;
}

.search-box button {
    position: absolute;
    top: -1px;
    right: -14px;
    height: 34px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.top-nav .right {
    font-size: 1.3rem;
    margin-right: 30px;
}
/*搜索框--end*/
/*table的th设置--start*/
/*全选框*/
.choose-row {
    width: 40px;
    position: relative;
}

.choose-row label {
    padding-top: 10px;
    position: absolute;
    top: 17px;
}

/*全选框*/

/*操作列，可在这里定义自己table的最后列样式*/
.article-operation-row {
    width: 120px;
}
.article-action-td {
    position: relative;
}
.article-action-td section{
    position: absolute;
    top: 10px;
}
.forum-user-operation-row{
    width: 210px;
}
/*操作列*/
/*选择列*/
td {
    padding: 3px !important;
    position: relative;
}
/*选择列*/
/*table的th设置--end*/
/*分页css*/
.pagination li.active {
    background: #54adff;
}

/*分页css*/
.card-content > p {
    padding: 5px;
}

[type="checkbox"] + label {
    padding-left: 0 !important;
}

/*常用margin--start*/
.margin-left {
    margin-left: 15px !important;
}

.margin-top {
    margin-top: 15px !important;
}

.margin-bottom {
    margin-bottom: 15px !important;
}

.double-margin-top {
    margin-top: 30px;
}

.double-margin-bottom {
    margin-bottom: 30px;
}

/*常用margin--end*/
/*微信文章css--start*/
.articles {}
.articles td [type="checkbox"] + label {
    padding-left: 0 !important;
    position: absolute;
    top: 20px;
}
.articles h5 a {
    color: #444;
}
.articles .save {
    font-size: 1.3rem;
    margin-right: 30px;
}
/*微信文章css--end*/
/**/
.user-info *{
    vertical-align:middle
}
.users tr td label{
    margin-top: 10px;
}
/**/
.topic-list .input-field {
    margin-top: 0;
}

.n_textarea {
    height: 130px;
}

.n_top {
    margin-top: 40px;
}

.n_tr {
    border-bottom: solid 1px #d4d4d4;
}

.list_table_img {
    width: 40px;
    height: 40px;
    margin-bottom: -3px;
    margin-top: 3px;
}

.table-checkbox {
    margin-bottom: -6px;
    margin-top: 6px;
}

.user_score_allscore {
    font-size: 20px;
    margin-top: 10px;
}

.topic-time {
    font-size: 12px;
}

.topic-name {
    font-size: 14px;
}

.topic-title {
    font-size: 16px;
}

.topic-content {
    font-size: 14px;
}

.topic-btn {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.topic-del-btn {
    position: absolute;
    margin-top: 14px;
}
table {
    table-layout: fixed;
}

td {
    word-break: break-all;
    word-wrap: break-word;
}
td > img {
    width: 50px;
    height: 50px;
}

td {
    padding: 3px !important;
}

hr {
    border-top: 1px solid #dddddd;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.bold-font {
    font-weight: bold;
}

.topic-img {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
}

.topic-choose-all {
    padding: 10px 10px 8px 3px !important;
}

body {
    font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体", "sans-serif";
    padding-bottom: 50px;
    word-break:break-all;
}
a{
    cursor: pointer;
}
html {
    padding-bottom: 50px;
}

html, body, .wrap {
    min-height: 100%;
    height: 100px;
}

/*
    主色-蓝色  #54adff
    辅色-深灰色  #717171
    辅色-浅灰色  #e6e8ea
    特殊色-橘黄色  ff8d37
*/
/*常用颜色*/
.blue {
    background-color: #54adff !important;
}

.blue-text {
    color: #54adff !important;
}

.dark-grey {
    background-color: #717171 !important;
}

.light-grey {
    background-color: #e6e8ea !important;
}

.dark-grey-text {
    color: #717171 !important;
}

.light-grey-text {
    color: #e6e8ea !important;
}

.orange {
    background-color: #ff8d37 !important;
}

.orange-text {
    color: #ff8d37 !important;
}

/*常用颜色*/

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #54adff !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #54adff !important;
    box-shadow: 0 1px 0 0 #54adff !important;
}

/*顶部设置*/
nav .brand-logo {
    height: 100%;
}

nav .brand-logo.left {
    left: 0;
}

nav .brand-logo img {
    height: 42px;
    line-height: 42px;
    margin: 7px 0;
    z-index: 3;
}

nav ul {
    padding-right: 50px;
    z-index: 5;
}

@media only screen and (min-width: 601px) {
    nav .brand-logo img {
        height: 50px;
        line-height: 50px;
    }
}

/*顶部设置*/
/*侧边栏调整，没事不要改*/
@media only screen and (min-width: 993px) {
    #sideBar {
        z-index: 1;
        width: 240px !important;
        position: absolute !important;
        left: 0 !important;
        background: #fff;
        padding-bottom: 0 !important;
        height: 100%;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16),
        0 0px 0px 0 rgba(0, 0, 0, 0.12) !important;
    }

    main {
        margin-top: 100px !important;
        position: relative;
        min-height: 100%;
    }

    #navBar {
        position: fixed;
        top: 0;
        z-index: 3;
    }

    .view-box {
        position: absolute;
        top: 0;
        padding: 20px;
        width: 100%;
        left: 0;
        padding-left: 260px;
        background: #fff;
        min-height: 100%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .view-line {
        position: absolute;
        left: 240px;
        height: calc(100% - 2px);
        bottom: 2px;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

@media screen and (max-width: 992px) {
    main, nav {
        padding-left: 0;
    }

    main {
        margin-top: 30px !important;
        position: relative;
    }

    .view-box {
        position: absolute;
        top: 0;
        padding: 20px;
        background: #fff;
        width: 100%;
    }

    .container {
        width: 95%;
    }
}

#sideBar {
    padding-top: 30px;
}

#sideBar::-webkit-scrollbar {
    width: 1px;
}

#sideBar::-moz-scrollbar {
    width: 1px;
}

#sideBar::scrollbar {
    width: 1px;
}

.bold {
    padding: 0 !important;
}

.bold > a {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 65px !important;
}

#sideBar li:hover {
    background-color: #e6e8ea;
}

#sideBar li.active > a {
    color: #ffffff;
    background-color: #54adff;
}

#sideBar li.active {
    background-color: #54adff;
}

/*菜单调整没事不要改*/
.navTitle {
    font-size: 20px;
    color: #a9b7b7;
    margin: 0;
    margin-left: 25px;
    line-height: 30px;
    padding: 0;
    position: relative;
}

.navTitle > span {
    position: absolute;
    padding-left: 10px;
}

.navTitle > i {
    font-size: 30px;
}

/*菜单调整没事不要改*/

.detail-item {
    height: 180px;
}

.detail-item > a > img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.detail-border {
    border-right: 1px solid #dddddd;
}