hr {
    border-top: 1px solid #DDDDDD;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

nav .brand-logo.left {
    left: 0;
}

nav .brand-logo img {
    height: 42px;
    line-height: 42px;
    margin: 7px 0;
}

nav ul {
    padding-right: 50px;
}

@media only screen and (min-width: 601px) {
    nav .brand-logo img {
        height: 50px;
        line-height: 50px;
    }
}

.page-title {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem !important;
    display: block;
}

.bold {
    padding: 0 !important;
}

.bold > a {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding-left: 65px !important;
}

.side-nav li:hover {
    background-color: #e6e8ea;
}

.side-nav li.active > a {
    color: #ffffff;
    background-color: #54adff;
}

.side-nav li.active {
    background-color: #54adff;
}

#sideBar {
    padding-top: 30px;
}

.navTitle {
    font-size: 20px;
    color: #a9b7b7;
    margin: 0;
    margin-left: 25px;
    line-height: 30px;
    padding: 0;
    position: relative;
}

.navTitle > span {
    position: absolute;
    padding-left: 10px;
}

.navTitle > i {
    font-size: 30px;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80% !important;
    }

    #sideBar {
        padding-top: 80px;
        z-index: 0;
    }

    #navBar {
        position: fixed;
        top: 0;
        z-index: 3;
    }
}

@media screen and (min-width: 993px) {
    main {
        padding-top: 100px;
        padding-left: 240px;
    }
}

@media screen and (max-width: 992px) {
    main, nav {
        padding-left: 0;
    }
}

@media only screen and (max-width: 601px) {
    .container {
        margin: 0 auto;
        max-width: 1280px;
        width: 95%;
    }
}

.path-box {

}

.path {
    color: #717171
}

.path-line {
    margin: 5px -30px;
    padding: 1px 0;
    background: #e6e8ea;
}

.search-box {
    position: relative;
    padding: 0 !important;
    margin: 0.82rem 0.75rem 0.656rem 0.75rem !important;
}

.search-box input {
    border: 1px solid #9e9e9e !important;
    border-radius: 5px !important;
    margin: 0 !important;
    height: 30px !important;
}

.search-box input:focus {
    border: 1px solid #9e9e9e !important;
    box-shadow: 0 0px 0 0 #26a69a !important;
}

.search-box button {
    position: absolute;
    top: -1px;
    right: -2px;
    height: 34px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.choose-all {
    width: 40px;
    position: relative;
}

.choose-all label {
    padding-top: 10px;
    position: absolute;
    top: 17px;
}

.card-content > p {
    padding: 5px;
}

[type="checkbox"] + label {
    padding-left: 0 !important;
}

.text-center {
    text-align: center;
}

.addLibraryBtn {
    margin-top: -50px;
}

.margin-left {
    margin-left: 15px !important;
}

.margin-top {
    margin-top: 15px !important;
}

.margin-bottom {
    margin-bottom: 30px !important;
}

.wechat_a {
    padding-right: 3px !important;
    padding-left: 3px !important;
}

.wechat_main {
    position: relative;
    width: 100%;
    height: 100%;
}

.wechat_zero {
    margin: 0 !important;
    padding: 0 !important;
}

.wechat_chose {
    padding: 10px !important;
}

.wechat_chose_div {
    height: 25px;
    padding-left: 15px;
}

.wechat_btn {
    margin: 4px !important;
}

.wechat-tr {
    border-bottom: solid 1px #d4d4d4;
}

.wechat_title {
    line-height: 20px;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}

.wechat_search {
    border: solid 1px #d4d4d4;
    border-bottom: 0;
}

.wechat_page a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    color: #54adff;
}

.wechat_page a:hover {
    border: 1px solid #54adff;
}

.wechat_page span[class=current] {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin: 5px;
    border-radius: 4px;
    background-color: #54adff;
    border: 1px solid #54adff;
    color: white;
}

.wechat_page span {
    display: inline-block;
    font-size: 15px;
    color: #c2c2c2;
}

.wechat_page {
    width: 100%;
    margin-top: -40px;
    height: 35px;
    line-height: 30px;
    float: left;
    text-align: center;
    z-index: 10;
    /*font-size: 15px;*/
    /*color: #f1f1f1;*/
}

.topic-list .input-field {
    margin-top: 0;
}

.n_textarea {
    height: 250px;
}

.n_top {
    margin-top: 40px;
}

.n_tr {
    border-bottom: solid 1px #d4d4d4;
}

.list_table_img {
    width: 40px;
    height: 40px;
    margin-bottom: -3px;
    margin-top: 3px;
}

.table-checkbox {
    margin-bottom: -6px;
    margin-top: 6px;
}

.user_score_allscore {
    font-size: 20px;
    margin-top: 10px;
}

.topic-time {
    font-size: 12px;
    color: #999;
}

.topic-name {
    font-size: 14px;
    color: #000;
}

.topic-title {
    font-size: 16px;
    color: #000;
}

.topic-content {
    font-size: 14px;
}

.topic-icon-color {
    color: #999;
}

.topic-btn {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.side-nav::-webkit-scrollbar {
    width: 1px;
}

.side-nav::-moz-scrollbar {
    width: 1px;
}

.side-nav::scrollbar {
    width: 1px;
}

.topic-del-btn {
    position: absolute;
    margin-top: 14px;
}

.change-page {
    padding: 15px 20px;
    color: #ccc;
    text-align: center;
}

.change-page a {
    display: inline-block;
    color: #54adff;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
}

.change-page a:hover {
    text-decoration: none;
    border: 1px solid #54adff;
}

.change-page span.current {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #54adff;
    border-radius: 4px;
    vertical-align: middle;
}

.change-page span.disabled {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    margin: 0 2px;
    color: #bfbfbf;
    background: #f2f2f2;
    border-radius: 4px;
    vertical-align: middle;
}

td > img {
    width: 50px;
    height: 50px;
}

td {
    padding: 3px !important;
}

.topic-img {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
}

.topic-choose-all {
    padding: 10px 10px 8px 3px !important;
}

body {
    font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体", "sans-serif";
}

html, body, .wrap {
    height: 100%;
}

body > .wrap {
    height: auto;
    min-height: 100%;
}

/*
    主色-蓝色  #54adff
    辅色-深灰色  #717171
    辅色-浅灰色  #e6e8ea
    特殊色-橘黄色  ff8d37
*/

.blue {
    background-color: #54adff !important;
}

.blue-text {
    color: #54adff !important;
}

.dark-grey {
    background-color: #717171 !important;
}

.light-grey {
    background-color: #e6e8ea !important;
}

.dark-grey-text {
    color: #717171 !important;
}

.light-grey-text {
    color: #e6e8ea !important;
}

.orange {
    background-color: #ff8d37 !important;
}

.orange-text {
    color: #ff8d37 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #54adff !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #54adff !important;
    box-shadow: 0 1px 0 0 #54adff !important;
}

.row {
    margin-bottom: 0 !important;
}

.detail-tr > td, .detail-tr > th {
    padding: 40px !important;
}

.detail-thead {
    border: none;
}